
.Home {
    padding: 2rem;
  }
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .nodisplay {
    display: none;
  }
  
  .display {
    display: block;
  }
  
.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #2980b9;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-container .card {
  flex: 1;
  margin-right: 10px;
}

.card h2, .card h3 {
  color: #333;
}

.card p {
  color: #666;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 10px 0;
    width: 80%;

  }
  .product-cards {
    flex-direction: column;
    align-items: center;
  }
  .hero-section,
  .cta-section,
  .featured-items,
  .featured-categories,
  .insight-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}