
.ProductList {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dropdown {
    display: flex;
    flex-wrap: wrap;
  }


  .input-label {
    flex-grow: 1;
    margin-bottom: 10px;
  }
  
  .menu {
    flex-grow: 3;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
  }

  .options {
    font-size: 16px;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    .dropdown {
      flex-direction: column;
    }
  
    .input-label,
    .menu {
      width: 100%;
      margin-right: 0;
    }
  }